.html-hotspot.lightblue {
    background-color: lightblue;
    border-radius: 20px;
    padding: 20px;
    color: black;
}

.html-hotspot.font-size-3 {
    font-size: 3em;
}

.html-hotspot.font-size-3 h1 {
    font-weight: bolder;
    -webkit-text-stroke: 3px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.html-hotspot.font-size-5 {
    font-size: 5em;
}

.html-hotspot.font-size-5 h1 {
    font-weight: bolder;
    -webkit-text-stroke: 5px black;
    color: white;
    text-shadow:
        5px 5px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
}

.html-hotspot.font-size-7 {
    font-size: 7em;
}

.html-hotspot.font-size-7 h1 {
    font-weight: bolder;
    -webkit-text-stroke: 7px black;
    color: white;
    text-shadow:
        7px 7px 0 #000,
        -5px -5px 0 #000,
        5px -5px 0 #000,
        -5px 5px 0 #000,
        5px 5px 0 #000;
}

.html-hotspot h1 {
    white-space: nowrap;
}

.html-hotspot p,
.html-hotspot ul {
    font-size: 3em;
}

.iframe-hotspot {
    width: 2500px;
    height: 1500px;
    padding: 0;
    overflow: hidden;
}

#iframe-test {
    --zoom: 4;
    zoom: var(--zoom);
    -moz-transform: scale(var(--zoom));
    -moz-transform-origin: 0 0;
    -o-transform: scale(var(--zoom));
    -o-transform-origin: 0 0;
    -webkit-transform: scale(var(--zoom));
    -webkit-transform-origin: center;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #iframe-test {
        zoom: 1;
    }
}